.main_section {
  background-color: var(--lab-primary-background);
  height: auto;
}

.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_card {
  background-color: var(--lab-secondary-background);
  width: 80vw;
  height: 650px;
  border-radius: 10px;
  margin-top: 40px;
}

.main_row {
  padding-top: 40px;
}

/* Image Preview Card */
.image_upload_card {
  background-color: var(--lab-third-background);
  width: 500px;
  height: 500px;
  margin-left: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.image_preview {
  background-color: var(--lab-third-background);
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}

.image_upload_button {
  padding-top: 19px;
}

.image_url_div {
  padding-top: 9px;
}

.image_url {
  height: 32px;
}

/* Elements */
.element {
  text-align: start;
  margin-right: 20px;
  font-size: 1.05em;
  letter-spacing: -1px;
  outline: none;
}

/* Bootstrap Placeholder */
.post_text::placeholder,
.image_url::placeholder {
  font-size: 0.9em;
}

/* Text Preview */
.post_text {
  resize: none;
  height: 5px;
}

.preview_text {
  position: relative;
  bottom: 100px;
  left: 13px;
  text-align: center;
  max-width: 95%;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: block;
  user-select: none;
}

@media (max-width: 900px) {
  .main_section {
    display: none;
  }

  .mobileWarning {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-size: 1em;
    color: var(--lab-secondary-background);
    background-color: var(--lab-primary-background);
  }
}